.display {
  width: 100%;
  max-width: 300px;
  min-height: 75px;
  border: 1px solid;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 40px;
  display: flex;
  align-items: center;
  padding: 3px;
  overflow: hidden;
  box-sizing: border-box;
}

.display.open {
  background: rgba(18, 185, 8, 0.4);
}

.display.close {
  background: rgba(222, 16, 73, 0.4);
}